{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Search</h1>
<div class="content">
    <h1 style="text-align: center">Load Data From Youtube</h1>

    <div class="form">
        <form action="/load" method="POST">
            Please enter the youtube url: <input type="text" name="content" id="content">
            <input type="submit" value="Load">
        </form>
        <th><tr><a href="https://github.com/Debanjan23/YoutubeScrapper1" target="_blank" rel="noopener noreferrer">Github Link</a></tr></th>
    </div>
</div>
{% endblock %}