<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Comment_count</th>
      <th>No_of_Likes</th>
      <th>Thumbnail</th>
      <th>video_id</th>
      <th>video_url</th>
      <th>Youtuber_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Big Announcement For All Subscribers and Digital Entrepreneur || cash Price 3,50,000</td>
      <td>199</td>
      <td>199</td>
      <td>https://i.ytimg.com/vi/hbsTQB5evWY/default.jpg</td>
      <td>hbsTQB5evWY</td>
      <td>https://www.youtube.com/watch?v=hbsTQB5evWY</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Freelance Video Editing से Earn 2000 Daily || How To Earn Money As Video Editor</td>
      <td>395</td>
      <td>395</td>
      <td>https://i.ytimg.com/vi/HmJOJzko_5c/default.jpg</td>
      <td>HmJOJzko_5c</td>
      <td>https://www.youtube.com/watch?v=HmJOJzko_5c</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>इस बार फोड़ देंगे || Biggest Surprise For Every Subscriber</td>
      <td>155</td>
      <td>155</td>
      <td>https://i.ytimg.com/vi/i7I5RuwCGRY/default.jpg</td>
      <td>i7I5RuwCGRY</td>
      <td>https://www.youtube.com/watch?v=i7I5RuwCGRY</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>घर बैठे Student Graphic Design से 40k To 50k Earn करे  || How To Earn Money As a Graphic Designer</td>
      <td>237</td>
      <td>237</td>
      <td>https://i.ytimg.com/vi/sVy_YKxhg9k/default.jpg</td>
      <td>sVy_YKxhg9k</td>
      <td>https://www.youtube.com/watch?v=sVy_YKxhg9k</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>15 Habits Of Successful People || Become Financial Freedom at Age Of 22</td>
      <td>191</td>
      <td>191</td>
      <td>https://i.ytimg.com/vi/hac1Lwqxgz0/default.jpg</td>
      <td>hac1Lwqxgz0</td>
      <td>https://www.youtube.com/watch?v=hac1Lwqxgz0</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How To Get a Job In Google With Full Information || 1.5 Cr की Job Google में - Job Placement</td>
      <td>103</td>
      <td>103</td>
      <td>https://i.ytimg.com/vi/zCxDfbivbbA/default.jpg</td>
      <td>zCxDfbivbbA</td>
      <td>https://www.youtube.com/watch?v=zCxDfbivbbA</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Mistake Mahatmaji Technical</td>
      <td>199</td>
      <td>199</td>
      <td>https://i.ytimg.com/vi/LTLDcsu4RjM/default.jpg</td>
      <td>LTLDcsu4RjM</td>
      <td>https://www.youtube.com/watch?v=LTLDcsu4RjM</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Life Time Access - Digital Marketing And YouTube Mastery Course || Big Announcement🔥</td>
      <td>283</td>
      <td>283</td>
      <td>https://i.ytimg.com/vi/oQZad5gVtmE/default.jpg</td>
      <td>oQZad5gVtmE</td>
      <td>https://www.youtube.com/watch?v=oQZad5gVtmE</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>4 Tips Powerful Strategy to 20% work and 80% Earn || How to Achieve Your goal</td>
      <td>371</td>
      <td>371</td>
      <td>https://i.ytimg.com/vi/DKwsJoNh7rY/default.jpg</td>
      <td>DKwsJoNh7rY</td>
      <td>https://www.youtube.com/watch?v=DKwsJoNh7rY</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>independence day Special Announcement for my Subscribers</td>
      <td>92</td>
      <td>92</td>
      <td>https://i.ytimg.com/vi/S4UjT6oupik/default.jpg</td>
      <td>S4UjT6oupik</td>
      <td>https://www.youtube.com/watch?v=S4UjT6oupik</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>5 Secrets जिससे Student Crorepati बन सकता है 25 की Age से पहले || How To Become RICH Fast In Life</td>
      <td>223</td>
      <td>223</td>
      <td>https://i.ytimg.com/vi/kb1vqwiY5GI/default.jpg</td>
      <td>kb1vqwiY5GI</td>
      <td>https://www.youtube.com/watch?v=kb1vqwiY5GI</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Student digital Creators कैसे बन सकता है || Right Way to Become Digital Creators, Youtuber, Blogger</td>
      <td>163</td>
      <td>163</td>
      <td>https://i.ytimg.com/vi/_ycZ8E-TFec/default.jpg</td>
      <td>_ycZ8E-TFec</td>
      <td>https://www.youtube.com/watch?v=_ycZ8E-TFec</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Easy Way To Create A FREE Affiliate Income Without Investment - 4 Website to Earn Affiliate Income</td>
      <td>156</td>
      <td>156</td>
      <td>https://i.ytimg.com/vi/2VuSRtBUFe8/default.jpg</td>
      <td>2VuSRtBUFe8</td>
      <td>https://www.youtube.com/watch?v=2VuSRtBUFe8</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Got call from Sandeep Maheshwari sir Team || Income, Bangalore team</td>
      <td>254</td>
      <td>254</td>
      <td>https://i.ytimg.com/vi/pVlBAI541_c/default.jpg</td>
      <td>pVlBAI541_c</td>
      <td>https://www.youtube.com/watch?v=pVlBAI541_c</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Digital Marketing and Youtube mastery Live Batch 2 || दम है तो Student के लिए ये कर के दिखाओ</td>
      <td>225</td>
      <td>225</td>
      <td>https://i.ytimg.com/vi/eI3BdUgcWHk/default.jpg</td>
      <td>eI3BdUgcWHk</td>
      <td>https://www.youtube.com/watch?v=eI3BdUgcWHk</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Difference Between Jobs VS Business || सारा Game mindset का है</td>
      <td>224</td>
      <td>224</td>
      <td>https://i.ytimg.com/vi/VYUKMngQHso/default.jpg</td>
      <td>VYUKMngQHso</td>
      <td>https://www.youtube.com/watch?v=VYUKMngQHso</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>50000 Per Month - Mobile Phone से || Youtube Start करने से पहले ये Video देख लेना</td>
      <td>402</td>
      <td>402</td>
      <td>https://i.ytimg.com/vi/4Ds7790PfJQ/default.jpg</td>
      <td>4Ds7790PfJQ</td>
      <td>https://www.youtube.com/watch?v=4Ds7790PfJQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How To Create A Sales Funnel For Beginner In Hindi 2022 || Sales Funnel बनाना सीखिए</td>
      <td>108</td>
      <td>108</td>
      <td>https://i.ytimg.com/vi/2OXteg2tbJU/default.jpg</td>
      <td>2OXteg2tbJU</td>
      <td>https://www.youtube.com/watch?v=2OXteg2tbJU</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How To Make Viral Content On YouTube And Earn $1000 || क्या मस्त तरीक़ा है Earning का Nuseir Yassin</td>
      <td>270</td>
      <td>270</td>
      <td>https://i.ytimg.com/vi/-3HKeSv3aR8/default.jpg</td>
      <td>-3HKeSv3aR8</td>
      <td>https://www.youtube.com/watch?v=-3HKeSv3aR8</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>250 Rupees कि Job से Delhi Police A.C.P बनने तक का सफर || The Power of Women ft. Surinder jeet kaur</td>
      <td>155</td>
      <td>155</td>
      <td>https://i.ytimg.com/vi/7UkYnBnQ5Yk/default.jpg</td>
      <td>7UkYnBnQ5Yk</td>
      <td>https://www.youtube.com/watch?v=7UkYnBnQ5Yk</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>आप Daily इस App से 2200 Earn कर सकते है || How To Earn 2200 Daily Through Refer &amp; Earn In Hindi</td>
      <td>268</td>
      <td>268</td>
      <td>https://i.ytimg.com/vi/QDqRrFYrL0w/default.jpg</td>
      <td>QDqRrFYrL0w</td>
      <td>https://www.youtube.com/watch?v=QDqRrFYrL0w</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Start a Successful YouTube Channel With Complete Guidance || How To Become a Successful Youtuber</td>
      <td>213</td>
      <td>213</td>
      <td>https://i.ytimg.com/vi/vPJjX-cDQxE/default.jpg</td>
      <td>vPJjX-cDQxE</td>
      <td>https://www.youtube.com/watch?v=vPJjX-cDQxE</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>7 Tips - Earning Digital Marketing Agency || How To Start Digital Marketing Agency Step By Step</td>
      <td>184</td>
      <td>184</td>
      <td>https://i.ytimg.com/vi/YEp7Qpnc80A/default.jpg</td>
      <td>YEp7Qpnc80A</td>
      <td>https://www.youtube.com/watch?v=YEp7Qpnc80A</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Student पढ़ेगा भी Monthly 30k Earn भी करेगा || Earn Money 30k/Month While Studying || Passive Income</td>
      <td>815</td>
      <td>815</td>
      <td>https://i.ytimg.com/vi/Fp2GUIj7_bo/default.jpg</td>
      <td>Fp2GUIj7_bo</td>
      <td>https://www.youtube.com/watch?v=Fp2GUIj7_bo</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Crorepati Chaiwala  - Success Story of Chai Sutta Bar || UPSC छोड़ने के बाद किया खुद का Startup</td>
      <td>123</td>
      <td>123</td>
      <td>https://i.ytimg.com/vi/hQztT2RfMvQ/default.jpg</td>
      <td>hQztT2RfMvQ</td>
      <td>https://www.youtube.com/watch?v=hQztT2RfMvQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>High Paying Jobs Opportunity In Marketing | How To Start Career In Marketing In 2022 | Best Career</td>
      <td>63</td>
      <td>63</td>
      <td>https://i.ytimg.com/vi/FDJwHZwTPJc/default.jpg</td>
      <td>FDJwHZwTPJc</td>
      <td>https://www.youtube.com/watch?v=FDJwHZwTPJc</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Daily 1000 Earning || How to Make Money Through Blogging || Simple सी Website बना के Earning start</td>
      <td>229</td>
      <td>229</td>
      <td>https://i.ytimg.com/vi/WZgqs5qVNlk/default.jpg</td>
      <td>WZgqs5qVNlk</td>
      <td>https://www.youtube.com/watch?v=WZgqs5qVNlk</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Youtube ने Career बर्बाद कर दिया - आप मत करना ये Mistake @Prince Chandra Tech</td>
      <td>156</td>
      <td>156</td>
      <td>https://i.ytimg.com/vi/bi96xLoBV6Y/default.jpg</td>
      <td>bi96xLoBV6Y</td>
      <td>https://www.youtube.com/watch?v=bi96xLoBV6Y</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Digital Network कि Power से 10 Hour का काम 1 Hour मे  कैसे करे | Power of Networking @Sagar Sinha</td>
      <td>83</td>
      <td>83</td>
      <td>https://i.ytimg.com/vi/-smxvKZB5q4/default.jpg</td>
      <td>-smxvKZB5q4</td>
      <td>https://www.youtube.com/watch?v=-smxvKZB5q4</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>कैसे YouTube ने एक Offline Teacher कि जिंदगी बदल दी || Teacher Can Earn Lakhs By Teaching Online</td>
      <td>97</td>
      <td>97</td>
      <td>https://i.ytimg.com/vi/QeUkvVcX0HQ/default.jpg</td>
      <td>QeUkvVcX0HQ</td>
      <td>https://www.youtube.com/watch?v=QeUkvVcX0HQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How to Make $1000 Through Blogging In Hindi || Blogging से Earning कैसे करे @Amit Mishra (Tryootech)</td>
      <td>88</td>
      <td>88</td>
      <td>https://i.ytimg.com/vi/JosdMajR9_Q/default.jpg</td>
      <td>JosdMajR9_Q</td>
      <td>https://www.youtube.com/watch?v=JosdMajR9_Q</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>1 Video ने Youtube पे मुझे  Successful बना दिया || How to Grow On Youtube With Skills @CA Guru Ji</td>
      <td>93</td>
      <td>93</td>
      <td>https://i.ytimg.com/vi/StDVctyngGA/default.jpg</td>
      <td>StDVctyngGA</td>
      <td>https://www.youtube.com/watch?v=StDVctyngGA</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>4000 Video Upload कर के कैसे किये 4 Billion Views Complete || How To Gain 20000 Subscribers Daily</td>
      <td>413</td>
      <td>413</td>
      <td>https://i.ytimg.com/vi/na4urmpgQUE/default.jpg</td>
      <td>na4urmpgQUE</td>
      <td>https://www.youtube.com/watch?v=na4urmpgQUE</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Learn from Creators Who Achieved Digitally Success || Creators Talks</td>
      <td>134</td>
      <td>134</td>
      <td>https://i.ytimg.com/vi/N4a6DBAiWmQ/default.jpg</td>
      <td>N4a6DBAiWmQ</td>
      <td>https://www.youtube.com/watch?v=N4a6DBAiWmQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>अब होगा महासंग्राम LAKSHYA &amp; AARAMBH (Batch - 1) के साथ Digital marketing में</td>
      <td>134</td>
      <td>134</td>
      <td>https://i.ytimg.com/vi/bld16LRYUUQ/default.jpg</td>
      <td>bld16LRYUUQ</td>
      <td>https://www.youtube.com/watch?v=bld16LRYUUQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Digital Marketing में सबसे बड़ा Revolution लाना है || 7 Years Youtube के बाद Jobs वो भी कुछ अलग</td>
      <td>231</td>
      <td>231</td>
      <td>https://i.ytimg.com/vi/sz5cM5anVBs/default.jpg</td>
      <td>sz5cM5anVBs</td>
      <td>https://www.youtube.com/watch?v=sz5cM5anVBs</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Top 10 Best Digital Jobs in 2022 || Work At Home - Jobs, salary, Work freedom, Online Marketing</td>
      <td>272</td>
      <td>272</td>
      <td>https://i.ytimg.com/vi/OfSHxEDhVgw/default.jpg</td>
      <td>OfSHxEDhVgw</td>
      <td>https://www.youtube.com/watch?v=OfSHxEDhVgw</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How to Teach Live On Youtube￼, Complete studio tour Online Class Setup Tour Completely @KELVIN 9&amp;10</td>
      <td>273</td>
      <td>273</td>
      <td>https://i.ytimg.com/vi/7Iy3DnjI2uE/default.jpg</td>
      <td>7Iy3DnjI2uE</td>
      <td>https://www.youtube.com/watch?v=7Iy3DnjI2uE</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How To Make Money Through Affiliate Marketing From Beginning || ft. Umer Qureshi - Online Earning</td>
      <td>424</td>
      <td>424</td>
      <td>https://i.ytimg.com/vi/9LXpj8bXqGU/default.jpg</td>
      <td>9LXpj8bXqGU</td>
      <td>https://www.youtube.com/watch?v=9LXpj8bXqGU</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Power Of Dropshipping In Digital Marketing || How To earn Money Through Dropshipping  In 4 Months</td>
      <td>163</td>
      <td>163</td>
      <td>https://i.ytimg.com/vi/LRJKqc2x2Bs/default.jpg</td>
      <td>LRJKqc2x2Bs</td>
      <td>https://www.youtube.com/watch?v=LRJKqc2x2Bs</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>How to Start Youtube From 0 Subscriber to 1 lakh per Month ll Youtube Secret @Junnu Ki TECH ￼</td>
      <td>409</td>
      <td>409</td>
      <td>https://i.ytimg.com/vi/K4mOvAr6Z-o/default.jpg</td>
      <td>K4mOvAr6Z-o</td>
      <td>https://www.youtube.com/watch?v=K4mOvAr6Z-o</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Digital Marketing &amp; Youtube Course अब Live सीखिए || Live Batches Started Learn From Expert Teachers</td>
      <td>367</td>
      <td>367</td>
      <td>https://i.ytimg.com/vi/VRPMmcDS_HQ/default.jpg</td>
      <td>VRPMmcDS_HQ</td>
      <td>https://www.youtube.com/watch?v=VRPMmcDS_HQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Earn 10,00,000 Per Month - How to Make Money Through Blogging for the Beginners || ft. Pawan Agarwal</td>
      <td>280</td>
      <td>280</td>
      <td>https://i.ytimg.com/vi/xoFVdYVqEXk/default.jpg</td>
      <td>xoFVdYVqEXk</td>
      <td>https://www.youtube.com/watch?v=xoFVdYVqEXk</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>अब मिलकर पुरे India को Educate करते है - How YouTube changed my Life | let's build together</td>
      <td>149</td>
      <td>149</td>
      <td>https://i.ytimg.com/vi/cmXngVMsiys/default.jpg</td>
      <td>cmXngVMsiys</td>
      <td>https://www.youtube.com/watch?v=cmXngVMsiys</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>15 App जो  Rich People use करते है 2022 में || Top 15 Application Digital Rich People Used in 2022</td>
      <td>250</td>
      <td>250</td>
      <td>https://i.ytimg.com/vi/ItA5FhS5AkE/default.jpg</td>
      <td>ItA5FhS5AkE</td>
      <td>https://www.youtube.com/watch?v=ItA5FhS5AkE</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>YouTube पे Successful बनना है तो ये Process Follow करना पड़ेगा, Interview Of @Satish K Videos</td>
      <td>592</td>
      <td>592</td>
      <td>https://i.ytimg.com/vi/GxuC5rz3rfQ/default.jpg</td>
      <td>GxuC5rz3rfQ</td>
      <td>https://www.youtube.com/watch?v=GxuC5rz3rfQ</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Earn $2000 Per Month Copy &amp; Paste Videos And Meditation Video Complete Proof || Copy Paste Video</td>
      <td>358</td>
      <td>358</td>
      <td>https://i.ytimg.com/vi/8q5T85sViH4/default.jpg</td>
      <td>8q5T85sViH4</td>
      <td>https://www.youtube.com/watch?v=8q5T85sViH4</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Success, Failure or Memories सब को साथ ले के आज मैं यहाँ खड़ा हूँ || ये बस आप सबका का प्यार है</td>
      <td>159</td>
      <td>159</td>
      <td>https://i.ytimg.com/vi/se9RbhZ3Zgg/default.jpg</td>
      <td>se9RbhZ3Zgg</td>
      <td>https://www.youtube.com/watch?v=se9RbhZ3Zgg</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>Sourav Ganguly से मिला - Skilling India Award || Youtuber 10,00,000 Earn कर रहे है</td>
      <td>229</td>
      <td>229</td>
      <td>https://i.ytimg.com/vi/zr0-3pMRqfc/default.jpg</td>
      <td>zr0-3pMRqfc</td>
      <td>https://www.youtube.com/watch?v=zr0-3pMRqfc</td>
      <td>Mahatmaji Technical</td>
    </tr>
    <tr>
      <td>1000 Crore का Startup बना दिया 1 Year में || @Krish Naik  Co-Founder At iNeuron, Tedx Speaker</td>
      <td>131</td>
      <td>131</td>
      <td>https://i.ytimg.com/vi/0mebxk7PqBU/default.jpg</td>
      <td>0mebxk7PqBU</td>
      <td>https://www.youtube.com/watch?v=0mebxk7PqBU</td>
      <td>Mahatmaji Technical</td>
    </tr>
  </tbody>
</table>